<div class="home">  
  <app-navbar></app-navbar>
  <div class="container blue-grey lighten-5">
    <div class="row">
      <div class="col s12 m8">
        <h4>Catalogo de productos</h4>
      </div>
      <div class="col s12 m8"></div>
    </div>

    <div class="divider"></div>

    <div class="row catalogo">
      <div class="col s12 m3 item" *ngFor='let item of items'>
        <div class="card">
          <div class="card-image">
            <img src="/../assets/imagenesBase/{{item.img}}">
            <span class="card-title">{{item.nombre}}</span>
          </div>
          <div class="card-content">
            <p><b>Precio: </b>{{item.precio}}</p>
            <p><b>Unidades Disponibles: </b>{{item.cantidad}}</p>
          </div>
          <div class="card-action">
            <a class="waves-effect waves-light btn-small">Ver Mas</a>
            <a class="waves-effect waves-light btn-small right">Agregar</a>
            <input type="number" name="cantidad" id="cantidad" >
            <label for="cantidad">Cantidad:</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
